### Multivariate Analysis: Exercise
This is the fifth practical exercise of our course [Data Science Bootcamp](https://open.hpi.de/courses/datascience2023).  
In this exercise, we focus on conducting a multivariate analysis (or MVA) as outlined in the video. Make sure to watch it carefully before starting with this exercise.

---
\
Here is a reminder about the technical limitations on this programming platform **OpenJupyter**:

#### Inactivity and Saving

- After 15 minutes of inactivity, the Python kernel shuts down, but the kernel is easy to restart if you continue your work within 60 minutes.
- After 60 minutes of inactivity the data is deleted to free up resources for other users.
- Therefore, please save the notebook locally (click "File" -> "Download") if you are pausing your work on the notebook for more than one hour. (We have put a reminder to save the notebook after each task.)
- If you have to restore your work from a downloaded notebook, press the Upload Button and select your locally saved `.ipynb` file (confirm to overwrite).

#### Grading

- Solve the nine tasks in this notebook and use the next learning item in the course ("Solution sheet: MVA Quiz") to insert your questions. Till the due date (which is **the 27th of June (11:55 pm / 23:55 UTC**), you can revise your answers. Only after the deadline, we will publish the results of this assignment, **after this due date**, you can discuss your answers and approach in the forum.
---

In [1]:
# Run this cell first
from Ex5_Grader import *
%matplotlib inline

### General questions
_Hint from your teaching team_: Find the following answers, by applying various data science techniques and functions to the ToyotaCorolla dataset, some of them from week 1, some of them from the EDA of week 2. Only guessing based on the previous video is not the correct approach.

In [2]:
# Do not change, delete or adapt this cell:
import pandas as pd 
import numpy as np
import seaborn as sns

In [3]:
# Do not change, delete or adapt this cell:
# Loading the csv dataset in a dataframe
df = pd.read_csv('.ToyotaCorolla.csv')

### Task 1: How many different columns does the ToyotaCorolla set have? (1P)

Use dataframe functions to figure out the answer then simply insert the numerical value in ```columns_number```

#### This question will be answered in the solution sheet quiz Question 1

In [4]:
def get_columns_number(df):
    # Return the number of columns given a df

    columns_number = len(df.columns) # insert number of columns here
    
    return columns_number

columns_number = get_columns_number(df)
print(columns_number)

36

If you want to test your solution, you can execute the following code cell.
If your solution passes our test, it will simply print `Test passed.`
If it does not work, you will get an error.
In this case you need to fix the code above.
(And do not forget to run the above code cell again!)

In [5]:
test_get_columns_number(columns_number)

Tests Passed, Well Done ğŸ‘

### Task 2: How many individual cars are in the dataset? (1P)

Use dataframe functions to figure out the answer then simply insert the numerical value in ```cars```

#### This question will be answered in the solution sheet quiz Question 2

In [7]:
def get_cars_number(df):
    # Return the number of individual cars given a df
    cars = len(df) # insert number of cars here
    
    return cars

cars = get_cars_number(df)
print(cars)

1427

If you want to test your solution, you can execute the following code cell.
If your solution passes our test, it will simply print `Test passed.`
If it does not work, you will get an error.
In this case you need to fix the code above.
(And do not forget to run the above code cell again!)

In [8]:
test_get_cars_number(cars)

Tests Passed, Well Done ğŸ‘

### Task 3: How many unique models of cars are present? 2P  

Note: *Models* refers to the variants of cars, not to the *statistical* term 'model'. 

This task might be a little bit tricky and it is maybe necessary to consult your favorite search engine.  
Please, do not reveal straight-up answers in the forum. 

Think of it like a real-case scenario: You know enough about the data set and Python. Now, you have to fulfill a clients' request by finding the correct approach in the libraries numpy or pandas.  
To end on a good note and give you motivation: It's a short code snippet, and not some crazy loop or iteration - although that obiviously works as well.  

In case you need help, at the very end of the notebook, some further hints are noted.  
You got this!

#### This question will be answered in the solution sheet quiz Question 3

In [10]:
def get_unique_models(df):
    # Return the number of unique models of cars given a df
    unique_models = len(df['Model'].unique()) # insert number of unique models here

    return unique_models

unique_models = get_unique_models(df)
print(unique_models)

371

If you want to test your solution, you can execute the following code cell.
If your solution passes our test, it will simply print `Test passed.`
If it does not work, you will get an error.
In this case you need to fix the code above.
(And do not forget to run the above code cell again!)

In [11]:
test_get_unique_models(unique_models)

Tests Passed, Well Done ğŸ‘

### Task 4: Would the variable "gears" be a good input variable for an MVA? (1P)

Hint: Remember how we evaluated this in the video. You can choose the same approach, or find another one.   
For the sake of your learning progress and to prepare you for more difficult tasks later, *don't guess it*, but find a data science approach to it.

#### This question will be answered in the solution sheet quiz Question 4

In [ ]:
# Graphical solution

# Mathematical solution

#### *Friendly reminder to create a local **backup** of this notebook*

## The MVA task

Your main task now is building a multivariate model predicting the **price** of a car, as outlined in the video. 

Make sure to also check the previous text item! If you need more than the following cells, use the debugging cells at the end of the notebook. 

You might want to use df.info() to get an overview of the data first for instance

---

Now, build an MVA predicting the price of a car with the following variables:  

- The Age of the car 
- the total kilometers driven 
- existence of powered windows
- number of doors
- having a central lock (or not)

-----

### We start by preparing our data

In [14]:
# Set price as the y - variable (output):
## FILLED BY YOU
y=df['Price']
## Choose a set of X's - reasons that influence the price of a car (Make sure to follow the order mentioned above)
## FILLED BY YOU
X=df[['Age', 'KM', 'Powered_Windows', 'Doors', 'Central_Lock']]

### Now, Let's build our estimator model, that takes various independent (='input') variables and predicts the price, using a multivariate regression.

In [15]:
# We start by importing our model from the sklearn library
from sklearn import linear_model

## FILLED BY YOU
# Intitialize a linear regression model and fit it to your data
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

## Now that you have created your model and have your X and Y data prepared above

### Task 5: Predict the price of a car, that has 108.000 kilometers, is 64 months old, has no powered windows with 3 doors and a central lock? 1P

*Please don't change the name of the variable mentioned in the cell and provide the output coming directly from your model*

#### This question will be answered in the solution sheet quiz Question 5

In [16]:
# Input the values given to your regression model and print the predicted price
pricePrediction1 =regr.predict([[64, 108000, 0, 3, 1]])
print (pricePrediction1)
# Output should look something like this
# [11111.11111]  <--- Obviously this is not the right answer ;)

[8766.50431921]

/opt/conda/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

### Task 6: Predict the price of the same car, but with five doors. 1P
*Please don't change the name of the variable mentioned in the cell and provide the output coming directly from your model*

#### This question will be answered in the solution sheet quiz Question 6

In [17]:
pricePrediction2 =regr.predict([[64, 108000, 0, 5, 1]])
print (pricePrediction2)

[9230.26544031]

/opt/conda/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

### Task 7: How much money would the model predict for that same car as in Task 6, but WITHOUT powered windows and no central lock? 1P  
*Please don't change the name of the variable mentioned in the cell and provide the output coming directly from your model*

#### This question will be answered in the solution sheet quiz Question 7

In [18]:
pricePrediction3 =regr.predict([[64, 108000, 0, 5, 0]])
print (pricePrediction3)

[8908.15110133]

/opt/conda/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

If you want to test your solution for tasks 5,6 and 7, you can execute the following code cell.
If your solution passes our test, it will simply print `Test passed.`
If it does not work, you will get an error.
In this case you need to fix the code above.
(And do not forget to run the above code cell again!)

In [19]:
MVA_grader(pricePrediction1, pricePrediction2, pricePrediction3)

Tests Passed, Well Done ğŸ‘

## Now that our model is working and have used it to predict some values already, lets calculate the coefficients of this five-variable model.

### Make sure you got this command in your toolkit, we surely need it later in the course.

In [20]:
# What are the coefficients ?
print(regr.coef_)

[-1.26534829e+02 -1.99795588e-02  5.81728806e+02  2.31880561e+02
  3.22114339e+02]

### Task 8: Interpret the meaning behind the coefficient values for each of the five variables (4P)
#### This question will be answered in the solution sheet quiz Question 2, so have a good look and get ready to explain the logic behind the numbers. :-)  

If you can't make sense of the notation, you want to learn about the "scientific notation", e.g. in through this [Wikipedia article](https://en.wikipedia.org/wiki/Scientific_notation).  

Additionally, here is a command to change the _view_ of a numpy n-dimensional array (ndarray) to a better readable float format.

In [21]:
# Changes the view - does not transform! - the array.
np.set_printoptions(formatter={'float_kind':'{:f}'.format})

# Rounding to two decimal points.
print(np.around(regr.coef_,2))

[-126.530000 -0.020000 581.730000 231.880000 322.110000]

#### remember the order of your X features mentioned at the beginning of the task

### Task 9: Why are these coefficients different from the ones you saw in the video? (1P)
#### This question will be answered in the solution sheet quiz Question 3

----

### What about if we enter an input of all-zeros?? Can the model really predict such a case? Does it even make sense?

Finally, we ask you to think about the special case of the video, having a model that inputs `([[0, 0, 0, 0, 0]])` into our new pricePrediction.  
What is that about? Feel free to think about it and apply this input to your new MVA.  

In the video, we asked about the special case, if we had a car, that is undriven and unused. In other words, we are looking for a car, that inserts only zeros in our new multivariate model.  
Again, we prepared a hint at the end of this notebook.

----

# Grading Tasks 1-9 excluding (Tasks: 4, 8 and 9)

*Reminder: before you start grading the tasks, it might be a good time to save the notebook locally as well (click "File" -> "Download").*

Please follow these instructions before you run the below code cell to grade the tasks 1 through 9:

- Check that you have not modified the **Test case** code cells.
- Check that you have **not created** new cells and **not deleted** existing cells in this notebook. (Otherwise the grading process might fail despite you having the correct solution, since it depends on the original order of notebook cell.)
- Save (CTRL + S) your notebook everytime you want to have your tasks graded, the grader uses the last saved version.

If you have done all the above, run the code cell below to run the grading process.
Once that is done, click the "Submit Assignment" button and confirm your submission.

In [22]:
# Make sure the notebook name is unchanged
!python3 Ex5_Grader.pyc
%run -i .button.py

â•­â”€ Note â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•®
â”‚ Please make sure you have the correct notebook name for a successful grading â”‚
â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯
â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•®
â”‚ Notebook name received: ./Multivariate_Analysis.ipynb                        â”‚
â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯

Testing your solution for Task 1: How many different columns does the
ToyotaCorolla set have?
Task 1: passed. âœ…

Testing your solution for Task 2: How many individual cars are in the dataset?
Task 2: passed. âœ…

Testing your solution for Task 3: How many unique models of cars are present?
Task 3: passed. âœ…

Testing your solution for Task 567: MVA car price predictions
Task 5, 6 and 7: passed. âœ…

â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Score â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•®
â”‚ Your score is: 7.0 / 7.0                                                     â”‚
â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯

Button(button_style='success', description='Submit Assignment', style=ButtonStyle(), tooltip='https://jupyterhâ€¦

Output()

# Draft Cells

Feel free to add as many cells bellow here and try differnt code.

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1427 entries, 0 to 1426
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1427 non-null   int64
 1   Model             1427 non-null   object
 2   Price             1427 non-null   int64
 3   Age               1427 non-null   int64
 4   Mfg_Month         1427 non-null   int64
 5   Mfg_Year          1427 non-null   int64
 6   KM                1427 non-null   int64
 7   Fuel_Type         1427 non-null   object
 8   HP                1427 non-null   int64
 9   Met_Color         1427 non-null   int64
 10  Automatic         1427 non-null   int64
 11  cc                1427 non-null   int64
 12  Doors             1427 non-null   int64
 13  Cylinders         1427 non-null   int64
 14  Gears             1427 non-null   int64
 15  Quarterly_Tax     1427 non-null   int64
 16  Weight            1427 non-null   int64
 17  Mfr_Guarantee     1427 non-null   int64
 18  BOVAG_Guarantee   1427 non-null   int64
 19  Guarantee_Period  1427 non-null   int64
 20  ABS               1427 non-null   int64
 21  Airbag_1          1427 non-null   int64
 22  Airbag_2          1427 non-null   int64
 23  Airco             1427 non-null   int64
 24  Automatic_airco   1427 non-null   int64
 25  Boardcomputer     1427 non-null   int64
 26  Central_Lock      1427 non-null   int64
 27  Powered_Windows   1427 non-null   int64
 28  Power_Steering    1427 non-null   int64
 29  Radio             1427 non-null   int64
 30  Mistlamps         1427 non-null   int64
 31  Sport_Model       1427 non-null   int64
 32  Backseat_Divider  1427 non-null   int64
 33  Metallic_Rim      1427 non-null   int64
 34  Radio_cassette    1427 non-null   int64
 35  Tow_Bar           1427 non-null   int64
dtypes: int64(34), object(2)
memory usage: 401.5+ KB

In [24]:
df.head(10)

,Id,Model,Price,Age,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0
5,6,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,12950,32,1,2002,61000,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0
6,7,?TOYOTA Corolla 2.0 D4D 90 3DR TERRA 2/3-Doors,16900,27,6,2002,94612,Diesel,90,1,...,1,1,1,0,0,1,1,0,0,0
7,8,TOYOTA Corolla 2.0 D4D 90 3DR TERRA 2/3-Doors,18600,30,3,2002,75889,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
8,9,?TOYOTA Corolla 1800 T SPORT VVT I 2/3-Doors,21500,27,6,2002,19700,Petrol,192,0,...,1,1,1,1,0,0,0,1,1,0
9,10,?TOYOTA Corolla 1.9 D HATCHB TERRA 2/3-Doors,12950,23,10,2002,71138,Diesel,69,0,...,0,0,1,0,0,0,1,0,0,0

----

#### Hint for task 3: 

 - First find out how many total entries there are (see task above).

 - How many different unique entries are there?

 - The function you want to search here is `unique`. Its in the name of the function ;)

#### Hint: Only zeros input  
As a hint, think about it from a reality point of view: How does this car even look like? Then, apply the mathematical knowledge as outlined in the video (last third proportion of the video).